<!DOCTYPE html>
<html>
<head>
	<title>Companies</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">
		<h3>Company List</h3><br>
		<h5>Showing companies updated in the last</h5>
		<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Dropdown
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</div>

		<table class="table tablecontextual">
			<!-- On cells (`td` or `th`) -->
			<tr>
				<th></th>
				<th>Company Name</th>
				<th>Preview (Complete/Total)</th>
				<th>Preview (Complete/Total)</th>
				<th>Reminder</th>
				<th>Quick Links</th>
				<th>Report</th>
			</tr>
			<tr>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			</tr>
			<tr>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			</tr>
			<tr>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			  <td class="active">...</td>
			</tr>
			<tr>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			  <td class="info">...</td>
			</tr>


		</table>
	</div>
</body>
</html>