<!DOCTYPE html>
<html>
<head>
	<title>Evaluation</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">
		<h2>Test Title A</h2>
		<p>Here are your selections as they have been recorded by the system:</p>
		<table class="table tablecontextual">
			<tr>
				<th>Uncharacteristic</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th>Characteristic</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>1. Most</th>
				<th>2. Quite</th>
				<th>3. Fairly</th>
				<th>4. Somewhat</th>
				<th>5. Neutral</th>
				<th>6. Somewhat</th>
				<th>7. Fairly</th>
				<th>8. Quite</th>
				<th>9. Most</th>
			</tr>
			<tr>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>			
			</tr>
			<tr>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
				<td class="info">...</td>
			</tr>
			<tr>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>
				<td class="active">...</td>		
			</tr>
		</table>
		<input type="submit" class="btn btn-info" name="" value="Back">
		<input type="submit" class="btn btn-info" name="" value="Continue to Next Assessment">
	</div>
</body>
</html>