<!DOCTYPE html>
<html>
<head>
	<title>Current Culture Introduction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">
		<h2>Test</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper metus sed venenatis ornare.</p>
		<br>
		<input type="submit" class="btn btn-info" name="">
		
	</div>

</body>
</html>