<!DOCTYPE html>
<html>
<head>
	<title>Questionnaire</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="container-fluid">
		<p>Category Test B</p>	
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper metus sed venenatis ornare. Aenean venenatis purus eu purus vestibulum, a porta erat consectetur. Donec eu hendrerit tellus. Fusce accumsan nisi ex, facilisis tincidunt mi pharetra vitae. Suspendisse nec mi justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque dictum justo sit amet consequat laoreet. Ut nec sem nunc. Morbi viverra, lacus vel interdum semper posuere. </p>
		<input type="submit" class="btn btn-info" name="" value="Back">
		<input type="submit" class="btn btn-info" name="" value="Continue">
	</div>

</body>
</html>