body {

}

h1,h2,h3,h4,h5{
	line-height:20px;
}
#navbar {
	background-color: #4db8ff;
	color: white;
	height: 120px;
	line-height:10px;
}
#header {
	font-size: 10pt;
	font-weight: bold;
}

#footer {
	background-color: #4db8ff;
	text-align: center;
}