<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav class="navbar navbar-default" id='navbar'>
        <div class="container-fluid">
        	<div class="navbar-header">
 				<h2>Organizational Culture Profile</h2>
 				<h5>In-depth analysis of your company's culture </h5>
 				<a class="navbar-brand" href="/#/" id='header'>Home</a>
    		</div>
    		<h5 class="text-right">Welcome!</h5>
        </div>
    </nav>

	<div class="navbar navbar-default" id='footer'>
      <a id="ctl00_lnkContactUs" href="mailto:info@organizationalcultureprofile.com">contact us</a> |
      <span id="ctl00_lblCopyright">Copyright © 2007-2012 organizationalcultureprofile.com</span>
    </div>

</body>
</html>