<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<nav class="navbar navbar-default" id='navbar'>
        <div class="container-fluid">
        	<div class="navbar-header">
 				<h2>Organizational Culture Profile</h2>
 				<h5>In-depth analysis of your company's culture </h5>
 				<a class="navbar-brand" href="/#/" id='header'>Home</a>
    		</div>
    		<h5 class="text-right">Welcome!</h5>
        </div>
    </nav>
	<div id="mainBody">
		<div class="col-xs-6 col-sm-2 well" id="loginForm"> 
			<h4>Administrator Login</h4>
			<form>
				<label for="username"></label>
				<input type="text" class="form-controller" name="username" placeholder="username" required>
				<br>
				<input type="password" class="form-controller" name="password" placeholder="password" required>
				<br>
				<input id="ctl00__login_RememberMe" type="checkbox" name="ctl00$_login$RememberMe">
				<label for="ctl00__login_RememberMe">Remember me</label>
				<br>
				<input type="submit" class="btn btn-info" value="login"><br>
			</form>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-10">
			<h3>Welcome to the Organizational Culture Profile</h3>
			<div class="well">
				<h4>Enter your access key</h4>
				<br>
				<p>If you received an e-mail with an access key, please type it in the box below, or better yet, cut and paste it from the original e-mail that you got. Note: The e-mail that you received already contains a link with the access code embeded, so all you need to do is click on that link. If the link doesn't work, use the Access Key provided in the e-mail message.</p>
				<input type="text" name="accessKey">
				<input type="submit" name="" class="btn btn-info" value="submit">
			</div>
			<div class="well">
				<h4>Retrieve your Access Key</h4>
				<p>f you don't know your Access Key, please enter your e-mail address in the box below and hit submit. We'll check to see if you have been setup to provide an evaluation and if so, we'll e-mail you a link to the evaluation page and your Access Key in case the link doesn't work.</p>
				<input type="text" name="accessKey">
				<input type="submit" name="" class="btn btn-info" value="submit">		
			</div>
			
		</div>
	</div>

	<div class="navbar navbar-default" id='footer'>
      <a id="ctl00_lnkContactUs" href="mailto:info@organizationalcultureprofile.com">contact us</a> |
      <span id="ctl00_lblCopyright">Copyright © 2007-2012 organizationalcultureprofile.com</span>
    </div>


<!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"> </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
</body>
</html>